*/*.sh.*
*/*_*

._*
*/._*
*/*/._*
*/*/*/._*
*/*/*/*/._*
*/*/*/*/._*
*/.snakemake
.fuse_hidden*
*/.fuse_hidden*
*/*/.fuse_hidden*
*/*/*/.fuse_hidden*
*/*/*/*/.fuse_hidden*
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store

reference*
data*
benchmarks
logs
output
.snakemake